@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.defaul {
  color: #ffffff;
}
.gray-50 {
  color: #f9fafb;
}
.gray-100 {
  color: #f3f4f6;
}
.gray-200 {
  color: #e5e7eb;
}
.gray-300 {
  color: #d1d5db;
}
.gray-400 {
  color: #9ca3af;
}
.gray-500 {
  color: #6b7280;
}
.gray-600 {
  color: #4b5563;
}
.gray-700 {
  color: #374151;
}
.gray-800 {
  color: #1f2937;
}
.gray-900 {
  color: #111827;
}
.gray-950 {
  color: #030712;
}
.emerald-500 {
  color: #10b981;
}
.h1-mobile {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
}
.h1-tablet {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2%;
  font-weight: 700;
}
.h1-desktop {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2%;
  font-weight: 700;
}
.h2-mobile-tablet {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -2%;
  font-weight: 600;
}
.h2-desktop {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
  font-weight: 600;
}
.h3-mobile-tablet-semi-bold {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  font-weight: 600;
}
.h3-mobile-tablet-bold {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  font-weight: 700;
}
.h3-desktop-semi {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -2%;
  font-weight: 600;
}
.h3-desktop-bold {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -2%;
  font-weight: 700;
}
.subtitle-mobile-tablet-normal {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-mobile-tablet-semi {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.subtitle-all-screen-normal {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle-all-screen-semi {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.body-1-mobile-tablet {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.body-1-desktop {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.body-2-all-screen-normal {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.body-2-all-screen-underline {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.body-2-all-screen-medium {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.body-2-all-screen-semi {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.body-3-all-screen-normal {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.body-3-all-screen-medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.icons-sm {
  width: 24px;
  height: 24px;
}
.icons-md {
  width: 32px;
  height: 32px;
}
